@keyframes cardFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mode-options-hint-box {
    animation: cardFadeIn 1s ease-in-out forwards;
}

@keyframes textHintFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-hint-fade-in {
    animation: textHintFadeIn 2s ease-in-out forwards;
}

