@keyframes bigCardEntry {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
        transform-origin: center bottom;
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
        transform-origin: center bottom;
    }
}

.bigCardEntry {
    animation-delay: 0.2s;
    animation: bigCardEntry 0.6s ease-out;
}

@keyframes backgroundFade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.background-fade-in {
    animation: backgroundFade 0.3s ease-out;
}

@keyframes cardEntry {
    0% {
        opacity: 0;
        transform: translateY(90px) scale(0.8);
        transform-origin: center bottom;
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        transform-origin: center bottom;
    }
}

.cardEntry {
    animation: cardEntry 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}