@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@custom-variant dark (&:is(.dark *));

@tailwind utilities;

body {
  @apply min-h-screen font-[DynaPuff];
  /* Default gradient - will be overridden by dynamic class */
  background: linear-gradient(
  #000000 30%,
  #000000 100%
  );
}

.font-korean {
  font-family: 'Noto Sans KR', sans-serif;
}

.logo {
  position: relative;
  font-weight: 800;
  font-size: 64px;
  color: transparent;
  background: linear-gradient(180deg, #e70a7d, #ec4850);
  -webkit-background-clip: text;
  background-clip: text;
}

.logo::after {
  content: "Kpopdle";
  position: absolute;
  top: 6px;   /* deslocamento vertical */
  left: 6px;  /* deslocamento horizontal */
  z-index: -1;
  background: linear-gradient(180deg, #e70a7d, #ec4850);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: blur(10px);
  opacity: 0.6;
}


/* Stars twinkle animation */
@keyframes twinkle {
  0%, 100% { 
    opacity: 0.6;
    transform: scale(1);
  }
  50% { 
    opacity: 1;
    transform: scale(1.06);
  }
}

.normal-font {
  font-family:  Arial, Helvetica, sans-serif;
}

.star-twinkle {
  animation: twinkle 4s ease-in-out infinite;
  animation-fill-mode: backwards;
  opacity: 0.6;
}

h1 {
  @apply font-bold;
}
  
.kpop-part {
  background: linear-gradient(180deg, #f17bb8, #b43777);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  
  /* Sombra indo pra direita com blur progressivo */
  filter:
    drop-shadow(0 0 4px rgba(226, 35, 134, 0.4))
    drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.8))
    drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.7))
    drop-shadow(2px 2px 0 rgba(180, 55, 119, 0.4))
}

.dle-part {
  background: linear-gradient(180deg, #ffffff, #ad7894);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  
  /* Sombra indo pra direita com blur progressivo */
  filter: 
    drop-shadow(0 0 4px rgba(255, 255, 255, 0.4))
    drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.8))
    drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.7))
    drop-shadow(2px 2px 0 rgba(255, 255, 255, 0.4))
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* SearchBar fill animation */
@keyframes moveGradient {
  from {
    background-position: right;
  }
  
  to {
    background-position: left;
  }


}

html {
  scrollbar-gutter: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000;
}

::-webkit-scrollbar-track {
  background: 
  linear-gradient(90deg, transparent 0%, rgba(180,55,119,0.1) 50%, transparent 100%), #0a0a0a;  
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b43777, #ec4850);
  border-radius: 10px;
  background-clip: padding-box;

  box-shadow: 
    0 0 6px rgba(180, 55, 119, 0.5),
    inset 0 0 6px rgba(236, 72, 80, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #e44798, #ff5c64);
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(180deg, #e44798, #ff5c64);
  box-shadow: 0 0 20px rgba(231, 10, 125, 1);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ::-webkit-scrollbar-button {
  height: 10px;
  background: lightgray;
  border-radius: 4px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background: lightgray;
}

::-webkit-scrollbar-button:vertical:increment {
  background: lightgray;
} */

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #b43777, #ec4850);
}


::-webkit-scrollbar-thumb:horizontal:hover {
  background: linear-gradient(180deg, #e44798, #ff5c64);
}

::-webkit-scrollbar-thumb:horizontal:active {
  background: linear-gradient(180deg, #e44798, #ff5c64);
  box-shadow: 0 0 20px rgba(231, 10, 125, 1);
}



/* Test for glow */ 
@layer utilities {
  @keyframes pulse-shadow {
    0%, 100% {
      box-shadow: 0 
    };
    50% {
      box-shadow: 0
    };
  }
    .animate-shadow-pulse {
      animation: pulse-shadow 1.5s ease-in-out infinite;
    }
}

/* Avoid blur on images when hovering/scaling */
img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Speed up animations with GPU */
.transform-gpu {
  transform: translateZ(0);
  will-change: transform;
}

/* Guarantee that GlassSurface loads instantly */
canvas {
  will-change: transform, opacity;
  backface-visibility: hidden;
}