@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 10vw;
  background: linear-gradient(180deg, rgb(253, 209, 218) 0%, rgba(160, 72, 123, 0.8) 100%);
  font-family: "DynaPuff", system-ui;
}